{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Quantidade de Encomendas:</h1>

    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>nome</th>
            <th>email</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nome_usuario}}</td>
            <td>{{usuario.email_usuario}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}