{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <form action="{% url 'quantidade_encomendas' %}" method="post">
        {% csrf_token %}
        <div style ="text-align: center;"class="container">
            <h1>Encomenda de Almoço</h1>
            Nome <input name="nome_usuario" class="form-control-sm" type="text">
            Email <input  name="email_usuario" class="form-control-sm" type="text">
            <button class="form-control-sm">Enviar</button>
        </div>
    </form>
{% endblock %}    